bin/
third_party/build_eigen3_release/
**/train_log/
**/latex/
**/html/
**/__pycache__/
**/build-*
*.cmake
!DefaultFlags.cmake
*.aux
*.bbl
*.blg
*.gz
*.lof
*.log
*.out
*.lot
*.toc
*.nav
*.snm
CMakeLists.txt.user*
**/mpu_log
